.slideshow {
  position: relative;
  width: 100%;
  overflow: hidden;
  /*// z-index: 0;*/
  /*// visibility: hidden;*/
}
.slideshow .viewport {
  width: 100%;
  /*min-height: 519px;*/
  overflow: hidden;
}
.slideshow .viewport .wrapper {
  width: 20000em;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.slideshow .viewport .wrapper .slide {
  float: left;
  position: relative;
  z-index: 0;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}
.slideshow .viewport .wrapper .slide.active, .slideshow .viewport .wrapper .slide.disengage {
  opacity: 1;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
}
.slideshow .viewport .wrapper .slide img {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  z-index: 0;
}
.slideshow .viewport .wrapper .slide .slidetext {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #fff;
}
.slideshow .viewport .wrapper .slide .slidetext.rightside {
  padding-left: 416px;
}
.slideshow .viewport .wrapper .slide .slidetext .issue {
  height: 70px;
  font-size: 60px;
  font-weight: 600;
  line-height: 90px;
  margin-bottom: 0;
}
.slideshow .viewport .wrapper .slide .slidetext .topic {
  font-family: 'Droid Serif', serif;
  font-size: 54px;
  line-height: 63px;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}
.slideshow .viewport .wrapper .slide .slidetext .description {
  width: 500px;
  font-size: 15px;
  font-family: 'Droid Serif', serif;
  line-height: 21px;
  margin-bottom: 30px;
}
.slideshow .viewport .wrapper .slide .claim  {
  position: absolute;
  top: 120px;
  left: 0;
  padding-left: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #fff;
  z-index: 3;
}
.slideshow .viewport .wrapper .slide .claim  .quote {
  font-family: 'Droid Serif', serif;
  font-size: 40px;
  line-height: 55px;
  color: #fff;
  padding-bottom: 20px;
  padding-right: 30px;
  text-indent: -15px;
}
.slideshow .viewport .wrapper .slide .claim  h2 {
  color: #fff;
}
.slideshow .viewport .wrapper .slide .claim  .divider {
  width: 30px;
  height: 1px;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  border-color: #fff;
}
.slideshow .viewport #prevwrapper,
.slideshow .viewport #nextwrapper {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.slideshow .viewport #prevwrapper .prev,
.slideshow .viewport #prevwrapper .next,
.slideshow .viewport #nextwrapper .prev,
.slideshow .viewport #nextwrapper .next {
  position: absolute;
  height: 100%;
  width: 86px;
  z-index: 20;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.slideshow .viewport #prevwrapper .prev,
.slideshow .viewport #nextwrapper .prev {
  left: 10px;
  background-image: url("../images/slide_left.png");
}
.slideshow .viewport #prevwrapper .next,
.slideshow .viewport #nextwrapper .next {
  right: 10px;
  background-image: url("../images/slide_right.png");
}
.slideshow .viewport #prevwrapper {
  left: 0px;
  cursor: pointer;
}
.slideshow .viewport #nextwrapper {
  right: 0px;
  cursor: pointer;
}
.slideshow #overlay {
  display: none;
  position: absolute;
  width: 940px;
  height: 500px;
  left: 50%;
  margin-left: -470px;
  z-index: 3;
}
.slideshow #nav {
  display: table;
  position: relative;
  top: 92%;
  margin: 0 auto;
  z-index: 4;
  padding: 0 10px 15px 0;
}
.slideshow #nav .dot {
  display: table-cell;
  cursor: pointer;
  float: left;
  height: 12px;
  width: 12px;
  margin-right: 8px;
  margin-bottom: 4px;
  border-radius: 6px;
  border: 2px solid #fff;
  text-decoration: none;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1), 0 0 4px 2px rgba(0, 0, 0, 0.1) inset;
}
.slideshow #nav .dot:hover, .slideshow #nav .dot.active {
  background-color: #fff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}
.slideshow #nav .dot:last-child {
  margin-right: 0;
}
.slideshow:hover #nav .dot {
  opacity: 1;
}
.slideshow:hover #prevwrapper .prev, .slideshow:hover #nextwrapper .next {
  opacity: 1;
}
